h1{
    color:darkorange;
    font: size 30px;
    text-align:center;
}
p{
    color:blueviolet;
    font-size:18;
    text-align:right;
}
body{
    background-color:plum;
    font-family: Arial,sans-serif;
}