.container {   
    display: flex;  
     justify-content: bottom; 
} 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #81b71f;
  color: rgb(156, 36, 36);
  padding: 10px 20px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}


