.container {   
    display: flex;   
    flex-direction:row;  
    justify-content:space-between;
    align-items:center;
} 
.box {
       width: 60px;   
       height: 60px;  
        background-color: tomato;   
        color: white;   
        text-align: center;  
    }
