.container {   
    display: flex; 
    align-items: flex-start; 
    align-items: center;    
    align-items: flex-end;   
    align-items: stretch;   
    align-items: baseline;  
    height: 200px; 
} 
.box {
       width: 60px;   
       height: 60px;  
        background-color: tomato;   
        color: white;   
        text-align: center;  
    }
