.container {   
    display: flex;   
    flex-direction:row;  
    justify-content:space-between;
    align-items:center;
} 
.box {
       width: 60px;   
       height: 60px;  
        background-color: tomato;   
        color: white;   
        text-align: center;  
    }
.navbar {   
    display: flex;   
    justify-content: space-between;   
    align-items: center;   
    background-color: #2196f3;   
    color: white;   
    padding: 10px 20px; 
} 
.menu { 
  display: flex;   
  gap: 20px;    
  list-style: none; 
}

