.container {   display: flex; 
justify-content: flex-start;  
justify-content: center;      
justify-content: flex-end;    
justify-content: space-between;
justify-content: space-around;
justify-content: space-evenly; 
 } 
.box {
       width: 60px;   
       height: 60px;  
        background-color: tomato;   
        color: white;   
        text-align: center;  
    }

