head{
    border: 20px;
}
body{
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    text-align: center;
    margin: 20px;
    border: 20px;
}
h1{
    color: black;
    margin-bottom: 10px;
}
.product-box{
    background-color:white;
    width: 100px;
    margin:0 auto;
    padding:15px;
    border:12px solid rgb(18, 16, 16);
    border-radius: 8px;

}
.product-box img{
    width: 100%;
    height: auto;
    border:2px solid rgb(18, 16, 16);
    border-radius: 5px;
}
.price{
    color: rgb(18, 154, 84);
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
button{
    background-color: blue;
    color: antiquewhite;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    
}
button:hover{
    background-color: red;

}