body {
  font-family: Arial, sans-serif;
  background-color: #717173;
  margin: 20px;
  text-align: center;
}


.product-card {
  background-color: rgb(245, 245, 253);
  width: 350px;
  margin: auto;
  padding: 20px;
  border: 2px solid #6a6767;
  border-radius: 10px;
}


.product-img {
  width: 300px;
  height: 300px;
  border: 1px solid #4a4848;
  margin-bottom: 15px;
}


.product-title {
  color: #060c13;
  font-size: 24px;
  margin: 10px 0;
}

.product-desc {
  color: #f9f6f6;
  font-size: 16px;
  margin: 10px 0;
  padding: 5px;
}


.product-price {
  color: #bf4234;
  font-size: 22px;
  font-weight: bold;
  margin: 15px 0;
}


.btn {
  background-color: #5490b8;
  color: rgb(56, 72, 186);
  border: none;
  padding: 12px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #1f6b9e;
}

.buy {
  background-color: #27ae60;
}

.buy:hover {
  background-color: #82a992;
}
